@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.father{
    margin-right: 35px;
    width: 100%;
    height: 100vh;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin: 0px 0px 0px 0px;
    
    /* Values/White */
    background: #FFFFFF;
    /* Standart Shadow */
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.06);
    border-radius: 0px 16px 16px 0px;
    .box1{
        height: 115px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        .logo{
            background: #FFFFFF;
            /*width: 169px;*/
            width: 70%;
        }
    }
    .box2{
        display: flex;
        flex-direction: column;
        width: 100%;
        .item1{
            text-decoration: none;
            border: none;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            /* Active */
            /*width: 250px;*/
            width: 100%;
            height: 54px;

            /* Colours/Main Blue */
            background: #107ACC;
            .icon1{
                /* Advertisement */

                width: 24px;
                height: 24px;

                /* Values/White */

                color: #FFFFFF;
            }
            .itemWhite{
                
                /* Notification */

                width: 22.36px;
                height: 24px;
                /* Values/Jade */
                color: #FFFFFF;
            }
            .title1{
                width: 114px;
                height: 20px;
                text-align: start;
                margin-bottom: 0px;
                /* Bold/Emphasis */
            
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 1em;
                line-height: 20px;
                /* identical to box height, or 125% */
            
            
                /* Values/White */
            
                color: #FFFFFF;
            }
        }
        .items{
            text-decoration: none;
            border: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            /* Active */
            /*width: 250px;*/
            width: 100%;
            height: 54px;

            /* Colours/Main Blue */
            background: #FFFFFF;
            .itemBlack{
                /* Notification */

                width: 22.36px;
                height: 24px;
                /* Values/Jade */
                color: #001A24;

            }
            .titleBlack{
                width: 114px;
                height: 20px;
                text-align: start;
                margin-bottom: 0px;
                /* Bold/Emphasis */
            
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                /* identical to box height, or 125% */
            
            
                /* Values/  black */
            
                color: #001A24;
            }
        }
        
        .lastItem{
            margin-bottom: 101px;
        }

        .line{
            /* Div 2 */
            /*width: 250px;*/
            width: 100%;
            height: 0px;

            /* Values/Light Gray */
            border: 1.7px solid #EAEBEE;

        }
      


    }

}